@import "../../index.scss";

.header {
	width: 100%;
	height: var(--header-height);
	display: flex;
	align-items: center;
	background-color: var(--dark-blue-color);
	color: var(--white-color);
	// position: relative;
	position: sticky;
	top: 0;
	z-index: 99 !important;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			color: var(--white-color);
		}
		.header-left {
			display: flex;
			align-items: center;
			gap: 10px;
			.header-logo {
				display: flex;
				gap: 5px;
				align-items: center;
				cursor: pointer;
				strong {
					font-size: 30px;
				}
				i {
					color: var(--red-color);
					animation: pencilMotion 1.5s linear infinite;
				}
				@keyframes pencilMotion {
					0% {
						transform: translateY(0);
					}
					25% {
						transform: translateY(5px);
					}
					75% {
						transform: translateY(-5px);
					}
					100% {
						transform: translateY(0px);
					}
				}
				@include mobile {
					strong {
						font-size: 20px;
					}
				}
			}
			.header-menu {
				display: none;
				@include mobile {
					display: block;
				}
				i {
					font-size: 25px;
					cursor: pointer;
				}
			}
		}
		.navbar {
			.nav-links {
				display: flex;
				align-items: center;
				gap: 20px;
				cursor: pointer;

				.nav-link {
					display: flex;
					align-items: center;
					gap: 5px;
					transition: all 0.2s;

					&:hover {
						font-weight: bold;
						i {
							color: var(--red-color);
						}
					}
					&.active {
						background-color: var(--red-color);
						padding: 5px;
						border-radius: 5px;
						@include mobile {
							padding: 3px;
						}
						&:hover {
							font-weight: normal;
							i {
								color: var(--white-color);
							}
						}
					}
					i {
						transition: all 0.2s;
						font-size: larger;
					}
				}
			}

			@include mobile() {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				background-color: var(--dark-blue-color);
				transition: all 0.25s;
				clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
				&.show {
					clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
				}
				.nav-links {
					flex-direction: column;
					gap: 0;
					.nav-link {
						padding: 7px;
						align-self: flex-start;
						width: 100%;
						display: flex;
						align-items: center;
						gap: 10px;
						&:not(:last-child) {
							border-bottom: 1px solid var(--white-color);
						}
					}
				}
			}
			@include tablet() {
				.nav-links {
					gap: 30px;
					.nav-link {
						font-size: small;
						// i{
						// }
						// span {
						// 	// display: none;
						// 	font-size: small;
						// }
					}
				}
			}
		}
		.header-right {
			display: flex;
			align-items: center;
			gap: 20px;

			.header-right-link {
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				transition: all 0.2s;

				@include mobile {
					font-size: smaller;
				}
				@include tablet() {
					span {
						display: none;
					}
				}
				&.signup {
					border: 1px solid var(--red-color);
					padding: 5px;
					border-radius: 5px;
				}
				&.active {
					background-color: var(--red-color);
					padding: 5px;
					border-radius: 5px;
					@include mobile {
						padding: 3px;
					}
					&:hover {
						font-weight: normal;
						i {
							color: var(--white-color);
						}
					}
				}
				&:hover {
					font-weight: bold;
					i {
						color: var(--red-color);
					}
					@include mobile {
						font-weight: normal;
					}
				}
			}

			.header-right-user-info {
				position: relative;
				
				.user-info {
					display: flex;
					align-items: center;
					gap: 10px;
					cursor: pointer;
					span {
						font-size: small;
					}
					img {
						height: 40px;
						width: 40px;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				.dropmenu {
					position: absolute;
					width: 200px;
					top: calc(100% + 5px);
					right: 0;
					background-color: var(--main-color);
					border: 1px solid #cecece;
					border-radius: 10px;
					transition: all 0.2s;
					clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
					&.show-dropmenu {
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
					}
					.item {
						padding: 10px;
						display: flex;
						align-items: center;
						gap: 20px;
						color: var(--dark-color);
						cursor: pointer;
						&:not(:last-child) {
							border-bottom: 1px solid var(--gray-color);
						}
						span {
							display: inline-block;
							font-weight: bold;
						}
						i {
							color: var(--red-color);
						}
					}
				}
				@include underTablet() {
					span {
						display: none;
					}
				}
			}
		}
	}
}
