footer {
    background-color: var(--dark-blue-color);
	height: var(--header-height);
	display: flex;
	align-items: center;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--white-color);
		// padding: 20px 10px;
		p {
			span {
				color: var(--red-color);
			}
		}
		ul {
			display: flex;
			align-items: center;
			gap: 20px;
			li {
				i {
					font-size: 20px;
					&:hover {
						color: var(--red-color);
						cursor: pointer;
						transition: all 0.2s;
					}
				}
			}
		}
	}
}
